.backgounx {
    background:url('https://qiniu.rainwe.com/Swedish_House_Mafia__03.png')no-repeat center 0/cover fixed;
    background-size:"cover";
    width:calc(100%);
    height:100%;
    overflow-y: auto;
    position:absolute;
    z-index:4;

}

.loadItem {
    width:70%;
    height:1.5px;
    background:rgba($red,$green,$blue,$percent4);
    bottom: 8%;
    position: absolute;
    margin-left: 15%;
    z-index:5;

}

.items {
    background-color: white;
    width:100px;
    height: 1.5px;
    position: relative;
    animation:mymove 9s infinite;
    -webkit-animation:mymove 9s infinite; /*Safari and Chrome*/
    z-index:6;
}

.Name {
    position: absolute;
    bottom: 12%;
    color:white;
    left: 14vw;
    width: 75vw;
    font-size: 50px;
    font-size:3.875rem;
    font-family: $font_family;
    font-weight:bold;
    word-break:break-all;
    text-shadow:0px 0px 12px #838b90;
    z-index:5;
}

.next {
    width:190px;
    height:120px;
    background-color: white;
    position: absolute;
    bottom: 14%;
    right: 10%;
    z-index:5;
    background-size:"cover";
    background:url('https://qiniu.rainwe.com/Gesaffelstein__01.png') no-repeat center 0/cover;

}

.up {
    width:190px;
    height:120px;
    background-color: white;
    position: absolute;
    bottom: 14%;
    left: -2%;
    z-index:5;
    background-size:"cover";
    background:url('https://qiniu.rainwe.com/Eric-Pyrdz.png') no-repeat center 0/cover;

}

.nextDong {
    width:0px;
    height:120px;
    background-color: #fff;
    display: none;
    z-index: 1000;
}

.upDong {
    width:0px;
    height:120px;
    background-color: #fff;
    display: none;
}

.left {
    position: absolute;
    width: 35px;
    height:35px;
    right:10.5%;
    bottom: 45%;
    z-index: 12;
}

.right {
    position: absolute;
    width: 35px;
    height:35px;
    right:10.5%;
    bottom: 53.5%;
    z-index: 12;
}